<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<style type="text/css">
		h1{color:"FF9999";background-color:"D7D7D7";text-align:center;height:400px;font-family:"Vijaya";font-size:55px;margin-top:0;padding:150px;}
	</style>
</head>

<body>
	<marquee bgcolor = "949494" width = "100%" height = "50" behavior="scroll">
		<font size="18" color="FFFFFF">音  乐  吧</font>
	</marquee>
	<hr color="949494">
	<table>
		<tr>
			<td>
				<span>首页</span>
				<span>|</span>
				<span><a href="">推荐</a></span>
				<span>|</span>
				<span><a href="">历史</a></span>
				<span>|</span>
				<span><a href="">搜索</a></span>
				<span>|</span>
				<span><a href="">注册</a></span>
				<span>|</span>
			</td>
		</tr>
	</table>
	<h1>Nothing is worth living for without music.</h1>
	<hr color="949494">
	<hr size="60" color="949494">
</body>
</html>
